@model IEnumerable<ElevatorProject.Models.SevicesTB>
@{
    ViewBag.Title = "درباره ی ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <!-- Page Title -->
    <section class="section page-title-section bg-center-center bg-cover" style="background-image: url(/Content/static/img/overlay-2.jpg);">
        <div class="container">
            <div class="page-title text-center">
                <h1>درباره ما</h1>
            </div>
            <ol class="breadcrumb justify-content-center">
                <li><a href="/">صفحه اصلی</a></li>
                <li class="active">درباره ما</li>
            </ol>
        </div>
    </section>
    <!-- / -->
    <!-- Why Choose us -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 sm-m-30px-b">
                    <img src="/Content/static/img/about-us.png" title="Dome" alt="Dome">
                </div>
                <div class="col-md-7">
                    <div class="right-img-block">
                        <div class="section-title">
                            <h2 class="theme-after">درباره ما</h2>
                            <div class="col-md-11 col-lg-11 p-0px-lr text-justify m-10px-t javadright">
                                <h6><strong>معرفی شرکت:</strong></h6>
                                <p class="text-justify">
                                    شرکت مهندسی نوین ران صنعت با بیش از 20 سال سابقه در سال 1379 با ثبت عضویت در سندیکای اسانسور و پله برقی ایران، با کادری مجرب و با سابقه فعالیت خود را در زمینه مشاور،طراحی و نصب اسانسور اغاز نمود.
                                </p>
                                <p class="text-justify">
                                    بخش اصلی موضوع فعالیت شرکت طراحی و ساخت اسانسسور های کششی و هیدرولیک از نوع مسافربر، ماشین بر ،بیمار بر،غذا بر و بالا بر های ویژه حمل بار میباشد
                                </p>
                                <p class="text-justify">
                                    بدیهی است این شرکت تلاش می‌نماید تا حتی الامکان دستاورد‌های خود را با بهترین کیفیت و برتری، عرضه و با ارائه‌ی خدمات پس از فروش (سرویس و نگهداری منظم)توسط کادر متخصص و مجرب رضایت مشتریان خود را جلب نماید.
                                    ضمنا کلیه مراحل انتخاب قطعات و مونتژ مطابق اخرین استاندارهای ویرایش شده در ایران بوده و این شرکت در سال 1381 با احراز صلاحیت لازم موفق به اخز پروانه طراحی و مونتاژ اسانسور از وزارت صنایع شده است.
                                </p>
                                <p class="text-justify">
                                    تاکنون پیش از 500 دستگاه اسانسور در پروژه‌های مختلف به اتمام رسیده است و در حال بهره‌برداری و پشتیبانی خدمات سرویس و نگهداری شرکت می‌باشد.
                                </p>
                            </div>
                        </div>
                    </div>
                </div> <!-- col -->

            </div><!-- row -->
        </div>
    </section>
    <!-- / -->
    <!-- Why Choose Us -->
    @*<section class="section gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3 sm-m-30px-b md-m-30px-b">
                        <div class="feature-box-03">
                            <i class="icon ti-user theme-bg"></i>
                            <div class="feature-content">
                                <h5>چار ما را انتخاب کنید</h5>
                                <p>در این قسمت محتوای مربوط به عنوان قرار داده می شود و قابل ویرایش است. </p>
                            </div>
                        </div>  feature-box-02
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 sm-m-30px-b md-m-30px-b">
                        <div class="feature-box-03">
                            <i class="icon ti-cup theme-bg"></i>
                            <div class="feature-content">
                                <h5>خدمات سرویس</h5>
                                <p>در این قسمت محتوای مربوط به عنوان قرار داده می شود و قابل ویرایش است.</p>
                            </div>
                        </div>  feature-box-02
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 sm-m-30px-b md-m-30px-b">
                        <div class="feature-box-03">
                            <i class="icon ti-world theme-bg"></i>
                            <div class="feature-content">
                                <h5>ما چه کاری انجام میدهیم</h5>
                                <p>در این قسمت محتوای مربوط به عنوان قرار داده می شود و قابل ویرایش است.</p>
                            </div>
                        </div>  feature-box-02
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 sm-m-30px-b md-m-30px-b">
                        <div class="feature-box-03">
                            <i class="icon ti-email theme-bg"></i>
                            <div class="feature-content">
                                <h5>پشتیبانی فوق العاده</h5>
                                <p>در این قسمت محتوای مربوط به عنوان قرار داده می شود و قابل ویرایش است. </p>
                            </div>
                        </div>  feature-box-02
                    </div>

                </div>  row
            </div>  container
        </section>*@
    <!-- / -->
    <!-- info Panel -->
    <section class="section counter-section gray-bg2d section bg-center-center bg-cover" style="background-image: url(/Content/static/img/overlay-3.jpg);">
        <div class="container">
            <div class="counter-row">
                <div class="row">
                    <div class="col-12 col-md-3 col-sm-6 m-15px-tb">
                        <div class="counter-col">
                            <div class="counter-data" data-count="500">
                                <div class="count">500</div>
                                <h6>پیش از <br>پروژه</h6>
                            </div>
                        </div>
                    </div>
                    <!-- col -->

                    <div class="col-12 col-md-3 col-sm-6 m-15px-tb">
                        <div class="counter-col">
                            <div class="counter-data" data-count="20">
                                <div class="count">20</div>
                                <h6> پیش از <br>سابقه</h6>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
        </div>
        <!-- container -->
    </section>
    <!-- / -->
    <!-- Our Services -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center m-25px-b md-m-20px-b">
                <div class="col-md-10 col-lg-5">
                    <div class="section-title">
                        <h2 class="theme-after">خدمات ما</h2>
                        <p>خدمات اصلی که شرکت نوین ران صنعت ارائه میدهد.</p>
                    </div>
                </div>
            </div> <!-- row -->
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-lg-4 col-md-6 m-30px-t">
                        <div class="feature-box-03">
                            <i class="icon ti-check-box theme-bg"></i>
                            <div class="feature-content">
                                <h5>@item.ServiceTitle</h5>
                                <p class="text-justify">@item.ServicesText</p>
                            </div> <!-- feature-box-02 -->
                        </div>
                    </div>
                }
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

</main>
<!-- Main End -->
